body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    background: #000;
    color: #fff;
    overflow: hidden;
}

/* --- パスワード --- */
#pwBox {
    position: fixed;
    top: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 4px;
    font-size: 10px;
}

/* --- 巻一覧 --- */
#volList {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    padding: 15px;
}

.volBtn {
    background: #111;
    border: 1px solid #333;
    padding: 18px 10px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 15px;
    color: white;
}

.volBtn:hover {
    background: #222;
}

/* --- Viewer --- */
#viewer {
    display: none;
    height: 100vh;
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#imgWrap {
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#epubArea {
    width: 100%;
    height: 100%;
    color: white;
}

#loader {
    position: absolute;
    color: white;
    font-size: 20px;
    display: none;
}

.navBtn {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.35);
    cursor: pointer;
}

.navBtn:hover {
    color: white;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

#pageInfo,
#fileName {
    text-align: center;
    color: #aaa;
    font-size: 12px;
}

#jumpBox,
#controlBox {
    text-align: center;
    padding: 6px;
}

.jumpBtn,
.ctrlBtn {
    margin: 2px;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #666;
    background: #111;
    color: #ddd;
    cursor: pointer;
    font-size: 11px;
}

.jumpBtn:hover,
.ctrlBtn:hover {
    background: #222;
}
